* {
  text-align: center;
  background-color: #eee;
}

#tribute-info {
  background-color: white;
}

#image {
  width: 100%;
}

.main-text {
  display: block;
  width: 40%;
  margin-left: 30%;
  text-align: left;
}

ul {
  text-align: left;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

#img-div {
  padding: 10px;
  background-color: white;
}
